.bg-color {
  background-color: #264653;
}
.btn-color {
  background-color: #e76f51;
}
.text-color {
  color: #e76f51;
}
.btn-outline-warning {
  color: #e76f51;
}
.grayscale {
  filter: grayscale(100%);
}
.img-round {
  height: 149px;
  width: 149px;
}
.color {
  color: #e76f51;
  height: 19px;
  width: 19px;
}
